@import "tailwindcss";

/* html {
  @apply font-sans text-base text-gray-900;
}

.dark {
  @apply bg-darkBackground text-white;
} */

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}
